CREATE DATABASE [OSData] ON  PRIMARY 
( NAME = N'OSData', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL.1\MSSQL\Data\OSData.mdf' , SIZE = 3072KB , FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'OSData_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL.1\MSSQL\Data\OSData_log.ldf' , SIZE = 1024KB , FILEGROWTH = 10%)
GO
--ALTER DATABASE [OSData] SET COMPATIBILITY_LEVEL = 100
--GO
ALTER DATABASE [OSData] SET ANSI_NULL_DEFAULT OFF 
GO
USE [OSData]
GO
IF NOT EXISTS (SELECT name FROM sys.filegroups WHERE is_default=1 AND name = N'PRIMARY') ALTER DATABASE [OSData] MODIFY FILEGROUP [PRIMARY] DEFAULT
GO
